/* define a page */
@page {
    size: 21cm 29.7cm;
}

/* reset chapter and figure counters on the body */
body {
	counter-reset: chapternum figurenum;
	font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
	line-height: 1.2;
	font-size: 10pt;
	padding: 35mm 10mm 35mm 10mm; /* change the margins as you want them to be. */
}

.fn::footnote-call {
  content: counter(footnote);
  font-size: 9pt;
  vertical-align: super;
  line-height: none;
}

.fn::footnote-marker {
  font-weight: bold;
}

@page {
  @footnotes {
    border-top: 0.6pt solid black;
    padding-top: 8pt;
  }
}

h1,h2,h3,h4,h5 {
	font-weight: bold;
	page-break-after: avoid;
	page-break-inside:avoid;
}

h1+p, h2+p, h3+p {
	page-break-before: avoid;
}

table, figure {
	page-break-inside: avoid;
}

ul.toc {
	list-style: none;
	margin: 0;
	padding: 0;
}

/* create page numbers using target-counter in the TOC */
ul.toc a::after {
  content: leader('.') target-counter(attr(href), page);
}

ul.toc li {
	line-height: 2;
}

ul.toc li a {
	text-decoration: none;
}

a {
	color: #000;
}

table {
    width: 100%;
}

.bordered {
    border: 1px solid black;
}

.allBordered {
    border-width: 0px 0px 1px 1px;
    border-color: black;
    border-style: solid;
}
.allBordered * {
    border-width: 1px 1px 0px 0px;
    border-color: black;
    border-style: solid;
    text-align: center;
}

.grayBg {
    background: #eee;
}

.verticalPadding {
    margin-top: 4mm;
}

.alignRight {
    text-align: right;
}
.alignLeft {
    text-align: left;
}

.width25 {width: 25%;}
.width33 {width: 33%;}
.width40 {width: 40%;}
.width50 {width: 50%;}

.bankPadding {padding: 10px 15px;}
.pricePadding > td {padding: 10px 5px;}
.paidPadding > td {padding: 3px 3px;}

.bigFont{font-size: 19pt;}
.mediumFont{font-size: 15pt;}