<!DOCTYPE html>
<html dir="ltr">
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="pdf.css">
    <style>
    </style>
</head>
<body>
    <table>
        <tr>
            <td rowspan="2" class="width50 bigFont">Faktura</td>
            <td class="alignRight">Data Wystawienia:</td>
            <td>{date_created}</td>
        </tr>
        <tr>
            <td class="alignRight">Data wykonania usługi:</td>
            <td>{date_created}</td>
        </tr>

    </table>
    <table>
        <tr>
            <td class="mediumFont">Nr: {number}</td>
        </tr>
    </table>
    <table cellspacing="0">
        <tr>
            <td><!-- owner data -->
                <table class="bordered bankPadding">
                    <tr>
                        <td class="alignRight">Sprzedawca:</td>
                        <td>{ownerName}</td>
                    </tr>
                    <tr>
                        <td class="alignRight">Adres:</td>
                        <td>{ownerAddress}</td>
                    </tr>
                    <tr>
                        <td class="alignRight">NIP:</td>
                        <td>{ownerVatId}</td>
                    </tr>
                </table>
            </td><!-- client data -->
            <td>
                <table class="bordered bankPadding">
                    <tr>
                        <td class="alignRight">Nabywca:</td>
                        <td>{clientName}</td>
                    </tr>
                    <tr>
                        <td class="alignRight">Adres:</td>
                        <td>{clientAddress}</td>
                    </tr>
                    <tr>
                        <td class="alignRight">NIP:</td>
                        <td>{clientVatId}</td>
                    </tr>
                </table>
            </td>
        </tr>

    </table>

    <table class="bordered verticalPadding bankPadding">
        <tr>
            <td class="alignRight width25">Sposób płatności:</td>
            <td>{paymentType}</td>
        </tr>
        <tr>
            <td class="alignRight width25">Termin płatności:</td>
            <td>{paymentDueDate}</td>
        </tr>
        <tr>
            <td class="alignRight width25">Bank:</td>
            <td>{paymentBankName}</td>
        </tr>
         <tr>
            <td class="alignRight width25">Numer konta:</td>
            <td>{paymentAccount}</td>
        </tr>
    </table>

    <table class="allBordered verticalPadding" cellspacing="0">
        <tr class="grayBg">
            <th>Lp.</th>
            <th>Nazwa</th>
            <th>Ilość</th>
            <th>Cena netto</th>
            <th>Wartość netto</th>
            <th>Stawka VAT</th>
            <th>Kwota VAT</th>
            <th>Wartość brutto</th>
        </tr>
        <tr class="pricePadding">
            <td>{articleNumber}</td>
            <td class="alignLeft">{articleName}</td>
            <td>1</td>
            <td>{articleNetPrice}</td>
            <td>{articleNetValue}</td>
            <td>{articleVatRate}</td>
            <td>{articleVatAmount}</td>
            <td>{articleGrossValue}</td>
        </tr>
        <tr class="pricePadding">
            <td rowspan="2" colspan="3" class="grayBg width50 mediumFont">Razem do zapłaty: {totalGrossValue} {currency}</td>
            <td>Razem:</td>
            <td>{totalNetValue}</td>
            <td>x</td>
            <td>{totalVatAmount}</td>
            <td>{totalGrossValue}</td>
        </tr>
        <tr class="pricePadding">
            <td>W tym:</td>
            <td>{totalNetValue}</td>
            <td>{articleVatRate}</td>
            <td>{totalVatAmount}</td>
            <td>{totalGrossValue}</td>
        </tr>
    </table>
    <table>
        <tr>
            <td>costam innego</td>
        </tr>
    </table>
</body>
</html>